<label for="<%= forName %>"><%= label %>:</label>
<input
  type="text"
  id="<%= forName %>"
  name="<%= forName %>"
  class="form-control"
  placeholder="<%= placeholder %>"
  value="<%- value ? value : '' %>"
/>
